<!-- <mat-expansion-panel [ngStyle]="{backgroundColor: getColor()}" *ngIf="task"> -->
<!-- <mat-expansion-panel [ngClass]="getClass()" *ngIf="task"> -->
<!-- <mat-expansion-panel [class]="task.priority.toLowerCase()" *ngIf="task"> -->
<mat-expansion-panel [ngClass]="{ 'bg-red': task.priority === 'High' }" *ngIf="task">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ task.title }}
    </mat-panel-title>
    <mat-panel-description>
      {{ task.description }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ul>
    <li>Data de Entrega: {{ task.dueDate }}</li>
    <li>Prioridade: {{ task.priority }}</li>
  </ul>
</mat-expansion-panel>
